# Feature Engineering Exercises

1. Create tips dataset and add columns
- Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
from pydataset import data
tips = data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Rename the size column because .size is a built-in Pandas attribute
tips = tips.rename(columns={'size': 'number_of_people'})
tips.head()

   total_bill   tip     sex smoker  day    time  number_of_people
1       16.99  1.01  Female     No  Sun  Dinner                 2
2       10.34  1.66    Male     No  Sun  Dinner                 3
3       21.01  3.50    Male     No  Sun  Dinner                 3
4       23.68  3.31    Male     No  Sun  Dinner                 2
5       24.59  3.61  Female     No  Sun  Dinner                 4

In [4]:
tips['tip_percentage'] = tips.tip / tips.total_bill
tips.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808

- Create a column named price_per_person. This should be the total bill divided by the party size.

In [5]:
tips['price_per_person'] = (tips.total_bill / tips['number_of_people'])
tips.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

- Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [6]:
# convert object columns to encoded columns
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
enc.fit(tips[['sex','smoker','day','time']])
tips[['sex','smoker','day','time']] = enc.transform(tips[['sex','smoker','day','time']])

In [7]:
tips.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage,price_per_person
1,16.99,1.01,0.0,0.0,2.0,0.0,2,0.059447,8.495000
2,10.34,1.66,1.0,0.0,2.0,0.0,3,0.160542,3.446667
3,21.01,3.50,1.0,0.0,2.0,0.0,3,0.166587,7.003333
4,23.68,3.31,1.0,0.0,2.0,0.0,2,0.139780,11.840000
5,24.59,3.61,0.0,0.0,2.0,0.0,4,0.146808,6.147500

In [8]:
# Most important feature for predicting tips amount: total_bill, time, day,

- Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [9]:
# split the data in train, validate and test
train, test = train_test_split(tips, test_size = 0.2, random_state = 123)
train, validate = train_test_split(train, test_size = 0.25, random_state = 123)
train.shape, validate.shape, test.shape

((146, 9), (49, 9), (49, 9))

In [10]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['tip', 'tip_percentage'])
y_train = train.tip

X_validate = validate.drop(columns=['tip', 'tip_percentage'])
y_validate = validate.tip

X_test = test.drop(columns=['tip','tip_percentage'])
y_test = test.tip

In [11]:
# Define the thing
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the thing
scaler.fit(X_train)

MinMaxScaler()

In [12]:
# create X versions scaled. Transfors to numpy array.
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [13]:
# Convert numpy array to pandas dataframe for feature selection
X_train_scaled = pd.DataFrame(X_train_scaled, index=train.index, columns=['total_bill',
 'sex',
 'smoker',
 'day',
 'time',
 'number_of_people',
 'price_per_person'])

In [14]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me 2 features
f_selector = SelectKBest(f_regression, k=2)

# find the top 8 X's correlated with y
f_selector.fit(X_train_scaled, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

f_feature

['total_bill', 'number_of_people']

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
rfe = RFE(lm, 2)

# fit the data using RFE
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns selected
feature_mask = rfe.support_

# get list of the column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

rfe_feature

['total_bill', 'price_per_person']

- Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

In [16]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 


y_train = train.tip_percentage

y_validate = validate.tip_percentage

y_test = test.tip_percentage

In [17]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me 2 features
f_selector = SelectKBest(f_regression, k=2)

# find the top 8 X's correlated with y
f_selector.fit(X_train_scaled, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

f_feature

['total_bill', 'price_per_person']

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
rfe = RFE(lm, 2)

# fit the data using RFE
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns selected
feature_mask = rfe.support_

# get list of the column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

rfe_feature

['number_of_people', 'price_per_person']

- Why do you think select k best and recursive feature elimination might give different answers for the top features? 
    - They use differnt methods to select best correlations to target.
- Does this change as you change the number of features your are selecting?
    - Yes, the number of features will change the selection

2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [19]:
def select_kbest(X, y, k):
    # parameters: f_regression stats test, give me 2 features
    f_selector = SelectKBest(f_regression, k=k)

    # find the top 2 X's correlated with y
    f_selector.fit(X, y)

    # boolean mask of whether the column was selected or not. 
    feature_mask = f_selector.get_support()

    # get list of top K features. 
    f_feature = X.iloc[:,feature_mask].columns.tolist()

    return f_feature

In [20]:
select_kbest(X_train_scaled, y_train, 2)

['total_bill', 'price_per_person']

3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [21]:
def rfe(X, y, k):
    # initialize the ML algorithm
    lm = LinearRegression()

    # create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
    rfe = RFE(lm, k)

    # fit the data using RFE
    rfe.fit(X,y)  

    # get the mask of the columns selected
    feature_mask = rfe.support_

    # get list of the column names. 
    rfe_feature = X.iloc[:,feature_mask].columns.tolist()

    return rfe_feature

In [22]:
rfe(X_train_scaled, y_train, 2)

['number_of_people', 'price_per_person']

4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [23]:
df = data('swiss')
df.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [24]:
def split(df):
    # split the data in train, validate and test
    train, test = train_test_split(df, test_size = 0.2, random_state = 123)
    train, validate = train_test_split(train, test_size = 0.25, random_state = 123)
    return train, validate, test

In [25]:
def x_y(train, validate, test, actual):
    # create X & y version of train, where y is a series with just the target variable and X are all the features. 
    X_train = train.drop(columns=[actual])
    y_train = train[actual]

    X_validate = validate.drop(columns=[actual])
    y_validate = validate[actual]

    X_test = test.drop(columns=[actual])
    y_test = test[actual]
    return X_train, X_validate, X_test, y_train, y_validate, y_test

In [26]:
def scaler(X_train, X_validate, X_test):
    # Define the thing
    scaler = sklearn.preprocessing.MinMaxScaler()

    # Fit the thing
    scaler.fit(X_train)

    # create X versions scaled
    X_train_scaled = scaler.transform(X_train)
    X_validate_scaled = scaler.transform(X_validate)
    X_test_scaled = scaler.transform(X_test)
    
    # Convert numpy array to pandas dataframe for feature Engineering
    X_train_scaled = pd.DataFrame(X_train_scaled, index=train.index, columns=df.drop(columns='Fertility').columns.to_list())
    X_validate_scaled = pd.DataFrame(X_validate_scaled, index=validate.index, columns=df.drop(columns='Fertility').columns.to_list())
    X_test_scaled = pd.DataFrame(X_test_scaled, index=test.index, columns=df.drop(columns='Fertility').columns.to_list())
    
    return X_train_scaled, X_validate_scaled, X_test_scaled

In [27]:
def select_kbest(X_train_scaled, y_train, k):
    # parameters: f_regression stats test, give me 2 features
    f_selector = SelectKBest(f_regression, k=k)

    # find the top 2 X's correlated with y
    f_selector.fit(X_train_scaled, y_train)

    # boolean mask of whether the column was selected or not. 
    feature_mask = f_selector.get_support()

    # get list of top K features. 
    f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

    return f_feature

In [28]:
def rfe(X_train_scaled, y_train, k):
    # initialize the ML algorithm
    lm = LinearRegression()

    # create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
    rfe = RFE(lm, k)

    # fit the data using RFE
    rfe.fit(X_train_scaled,y_train)  

    # get the mask of the columns selected
    feature_mask = rfe.support_

    # get list of the column names. 
    rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

    return rfe_feature

In [29]:
def wrangle(df, actual, k):
    train, validate, test = split(df)
    
    X_train, X_validate, X_test, y_train, y_validate, y_test = x_y(train, validate, test, actual)
    
    X_train_scaled, X_validate_scaled, X_test_scaled = scaler(X_train, X_validate, X_test)
    
    f_feature = select_kbest(X_train_scaled, y_train, k)
    
    rfe_feature = rfe(X_train_scaled, y_train, k)
    
    return X_train, X_validate, X_test, y_train, y_validate, y_test, X_train_scaled, X_validate_scaled, X_test_scaled, f_feature, rfe_feature

In [30]:
actual = 'Fertility'
k = 3

In [31]:
train, validate, test = split(df)
train.shape, validate.shape, test.shape

((27, 6), (10, 6), (10, 6))

In [32]:
X_train, X_validate, X_test, y_train, y_validate, y_test = x_y(train, validate, test, actual)

In [33]:
X_train_scaled, X_validate_scaled, X_test_scaled = scaler(X_train, X_validate, X_test)

In [34]:
 f_feature = select_kbest(X_train_scaled, y_train, k)

In [35]:
f_feature

['Examination', 'Catholic', 'Infant.Mortality']

In [36]:
rfe_feature = rfe(X_train_scaled, y_train, k)
rfe_feature

['Examination', 'Education', 'Infant.Mortality']