In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Exercise 2
## Your goal is to predict the values of single unit properties using the obervations from 2017.
###

1. Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [2]:
import acquire_zillow

In [3]:
df = acquire_zillow.get_zillow()
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [4]:
df.isnull().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.

In [ ]:
# see how many rows and columns
df.shape

In [ ]:
df.describe()

In [ ]:
# check if all columns show
df.describe().T

In [ ]:
# check columns and data types
df.info()

In [ ]:
# find counts of nulls
df.isnull().sum()

In [ ]:
# checking for na
df.isna().sum()

In [ ]:
# find columsn that have nulls
df.isnull().any()

In [ ]:
df.columns[df.isnull().any()]

In [ ]:
# show na in bedroom count column
df.bedroomcnt.value_counts(dropna=False, ascending=True)

In [ ]:
df.head()

In [ ]:
df.bedroomcnt.value_counts()

In [ ]:
df[df.calculatedfinishedsquarefeet==1]

In [ ]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
df.taxvaluedollarcnt.value_counts(ascending=True)

3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe witn no missing values in your wrangle.py file. Name your final function wrangle_zillow.